
@{
    ViewData["Title"] = "To Do List";
}

<div class="layout">
    <div class="text-center">
        <h3>Daily Highlight</h3>
        <p>Getting things done has never been easier!</p>

    </div>
</div>