@model List<Taskr.Models.Domain.ToDoList>

@{
}

<h3>Task List</h3>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Completed Date</th>
            <th>Tag</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var taskList in Model){
        @if (taskList.Status == true)
        {
            <tr>
                <td>@taskList.Name</td>
                <td>@taskList.DueDate.ToString("dd-MM-yyyy")</td>
                <td>@taskList.Tag</td>
                
            </tr>
        }}
    </tbody>
</table>